@using SocialPulse.Core.ViewModels

@model InitSocialProfilesViewModel

@{
    ViewData["Title"] = "Strona główna";
}


<input type="hidden"
       id="sessionGuid"
       value="@Model.SessionGuid" />

<div class="row">
    <div class="col-md-3">
        <div class="form-floating mb-3">
            <input type="text"
                   id="searchInput"
                   class="form-control"
                   placeholder="Szukaj..." />
            <label for="searchInput"
                   class="form-label">
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
        </div>
    </div>
</div>


<div id="profilesContainer" class="row">
    @foreach (var profile in Model.SocialProfiles)
    {
        @await Html.PartialAsync("_SocialProfileOverview", profile)
    }
</div>

@section Scripts {
    <partial name="_ValidationScripts" />

    <script>
        $(document).ready(function () {
            var sessionGuid = $("#sessionGuid").val();

            var connection = new signalR.HubConnectionBuilder()
                                        .withUrl("/cacheHub")
                                        .build();

            connection.start()
                .then(function() {
                    console.log("Connected to CacheHub via SignalR.");

                    // Begin keep-alive ping every 30 seconds
                    setInterval(function() {
                        connection.invoke("KeepAlive", sessionGuid)
                            .catch(function (err) {
                                console.error("KeepAlive error: " + err.toString());
                            });
                    }, 30000);
                })
                .catch(function (err) {
                    console.error("Could not connect to CacheHub: " + err.toString());
                });

            let isLoading = false;
            let noMoreProfiles = false;

            $(window).on("scroll", function () {
                if (noMoreProfiles || isLoading) {
                    return;
                }

                if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
                    loadNextProfiles();
                }
            });

            function loadNextProfiles() {
                isLoading = true;

                var query = $("#searchInput").val();

                $.ajax({
                  type: "GET",
                  url: "/Home/GetNextProfiles",
                  data: {
                        sessionGuid: sessionGuid,
                        query: query
                  },
                  success: function (htmlResult) {
                    if (!htmlResult || htmlResult.length == 0) {
                      noMoreProfiles = true;
                      isLoading = false;
                      console.log("No more profiles.");
                      return;
                    }

                    $("#profilesContainer").append(htmlResult);
                    isLoading = false;
                  },
                  error: function (xhr, status, error) {
                    console.error("Error fetching next profiles:", error);
                  }
                });
            }

            $("#searchInput").on("input", function() {
                var query = $(this).val();
                
                searchProfiles(query);
            });

            function searchProfiles(query) {
                $.ajax({
                    url: "/Home/SearchProfiles",
                    type: "GET",
                    data: {
                        sessionGuid: sessionGuid,
                        query: query
                    },
                    success: function(htmlResult) {                   
                        $("#profilesContainer").html(htmlResult);
                        noMoreProfiles = false;
                    },
                    error: function(xhr, status, error) {
                        console.error("Error searching profiles:", error);
                    }
                });
            }

        });
    </script>
} 